html {
	height: 90%;
	font-family: Courier;
	font-size: 10px;
	background-color: white;
}

body {
	width: 100%;
	height: inherit;
  margin: 0;
}

.wrapper {
	height: 100%;
	max-width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#projectdisplay {
  width: 100%;
}

#projectsettings {
  width: 100%;
  margin-top: 30px;
}


.panel {
	
width: calc(100%/3 - 15px - 1px - 1px/3);
	
float: left;
	
height: 250px;
	
padding-left: 15px;
	
border-left: 1px solid #aaa;

}



}
.compare {
	position: absolute;
    left: 700px;
}

label {
  font-size: 12pt;
}

canvas {
  border: 2px solid black;
}
